$color-black: #000000;
$color-dark: #181818;
$color-gray: #707070;
$color-gray-medium: #A4A4A4;
$color-gray-light: #EAEAEA;
$color-light: #ffffff;
$color-gray-background: #F4F4F4;
$background-input: #f7f7f7;

$color-button-red: rgb(207, 62, 62);
$color-button-blue: rgb(0, 100, 200);

$shadow: 0 0 15px rgb(233, 233, 233);

$font-family-base: 'Unbounded';
$font-family-second: 'PP Pangram Sans';

$container-large-width: 1920px;
$container-width: 1320px;
$container-padding-x: 30px;

$section-padding-y: 120px;
$section-margin-y: 120px;

$margin: 30px;
$margin-medium: 40px;
$margin-large: 60px;

$padding: 30px;
$padding-large: 60px;

$button-height: 76px;
$button-medium-height: 76px;

$border-radius: 30px;
$border-input: 1px solid #e2e2e2;

$checkbox-size: 20px;

$transition-duration: 0.3s;
