@import '/src/styles-config/common.module.scss';

.table {
    font-family: $font-family-second;
    font-size: 18px;
    background-color: $color-light;
    color: $color-dark;
    padding: $padding-large;
    border-radius: $border-radius;
    border-spacing: 0px;
    box-shadow: $shadow;
}

thead th {
    text-align: left;
    padding-left: 30px;
}

tbody {
    font-family: $font-family-second;
    font-size: 16px;
    font-weight: 400;

    tr {
        display: table-row;

        &:nth-child(odd) {
            background-color: $color-gray-background;
        }

        &:hover {
            background-color: $color-gray-medium;
            
            .cell {
                color: white;
            }

            .delete {
                visibility: visible;
            }
        }

        td {
            position: relative;
        }
    }

    .cell {
        display: block;
        padding: 13px 30px 21px 30px;
        text-decoration: none;
        color: $color-dark;
    }

    &::before {
        content: "";
        display: block;
        padding-top: $padding;
    }
}

.delete {
    position: absolute;
    background-color: red;
    width: 35px;
    height: 35px;
    top: 0;
    left: -$margin - 5px;
    border-radius: 5px;
    transform: translate(50%, calc(50% - 5px));
    visibility: hidden;
    transition: none;
    
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        background-color: $color-light;
        left: 0px;
        top: calc(50% + 1px);
        transform: translate(-3px, -50%);
        rotate: 45deg;
        border-radius: 5px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 6px;
        background-color: $color-light;
        left: 0px;
        top: calc(50% + 1px);
        transform: translate(3px, -50%);
        rotate: -45deg;
        border-radius: 5px;
    }
}